<mat-card class="card-container">
  <mat-toolbar class="color-primary color-secondary">Sobre Nós</mat-toolbar>
    <div class="text-container">
    <p class="text">
    Um desenvolvedor e duas nutricionistas uniram suas habilidades e
    conhecimentos para criar um programa inovador e útil para ajudar as pessoas
    a terem uma vida mais saudável e equilibrada através de seu trabalho.<br/></p> 
    <p class="text">
    O desenvolvedor, principiante, com pouca experiência na criação de softwares, estava buscando um projeto que pudesse ser desafiador e impactante. Enquanto  isso, as duas nutricionistas, com vasta experiência na área da <em>UAN (Unidade de Alimentação e Nutrição)</em>, estavam em busca de uma maneira de melhorar a qualidade de seu trabalho de forma acessível. <br></p>
    <p class="text">
    Com a união desses profissionais, surgiu um programa que oferece
    de <strong>forma gratuita</strong>, serviços que são adaptadas às necessidades de
    nutricionais que trabalham no dia a dia com <em>Consultoria e UAN</em>. <br></p>
    <p class="text">
    O programa criado pelo desenvolvedor e pelas duas nutricionistas, ainda está em desenvolvimento mas, promete ser uma verdadeira inovação no mercado de saúde e bem-estar. Combinando tecnologia e conhecimento em nutrição, o programa oferece aos usuários uma maneira fácil e prática de se trabalhar no dia a dia. <br></p>
    <p class="text">
    Além disso, a colaboração entre o desenvolvedor e as nutricionistas tem sido uma prova de que a união de habilidades e conhecimentos pode levar a grandes conquistas e inovações em qualquer área de atuação.</p>
  </div>
</mat-card>
