.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.card-container {
  display: flex;
  margin-top: 5%;
  min-width: 70%;
  max-width: 100%;
  margin-bottom: 15px;
}
.editable-input {
  /*campo de edição*/
  background-color: transparent;
  font-size: 20px;
  color: #ffc745;
  border: none; /* Remove borda do input */
  outline: none; /* Remove contorno do input */
  width: 70%;
}
.editable-title {
  display: flex;
  align-items: center;
}
.editable-title > button {
  justify-content: flex-end;
}
.input-information {
  display: flex;
  flex-direction: column;
  padding: 1em 25px;
}
.business-select {
  display: flex;
  gap: 1em;
}
.business-select > .input-business {
  width: 70%;
}
.business-select > .select-section {
  width: 30%;
}
.manage-rotation {
  display: flex;
  gap: 1em;
}
.manage-rotation > .input-manager {
  width: 70%;
}
.manage-rotation > .input-rotation {
  width: 30%;
}
.technical-audit {
  display: flex;
  gap: 1em;
}
.technical-audit > .input-technical {
  width: 70%;
}
.technical-audit > .input-audit {
  width: 30%;
}
.obs {
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent; /* fundo inicial como transparente */
  transition: background-color 0.3s; /*transição p/ mudar de cor*/
}
.obs:focus {
  background-color: rgba(255, 255, 0, 0.2);
}
.button {
  display: flex;
  justify-content: flex-end;
}

/*Para telas menores que 460px*/

@media (max-width: 460px) {
  .container {
    max-width: 100%;
  }
  .business-select {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .business-select > .input-business {
    width: 100%;
  }
  .business-select > .select-section {
    width: 100%;
  }
  .manage-rotation {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .manage-rotation > .input-manager {
    width: 100%;
  }
  .manage-rotation > .input-rotation {
    width: 100%;
  }
  .technical-audit {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .technical-audit > .input-technical {
    width: 100%;
  }
  .technical-audit > .input-audit {
    width: 100%;
  }
  .editable-title {
    background-color: transparent;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  .editable-input {
    background-color: transparent;
    font-size: 15px;
    color: #ffc745;
    border: none;
    outline: none;
    width: 100%;
  }
  mat-icon {
    padding-left: 2.5rem;
  }
}
