<div class="container">
  <mat-card class="card-container">
    <mat-toolbar class="color-primary color-secondary">
      Empresas Cadastradas
    </mat-toolbar>

    <!-- <div *ngIf="business$ | async as business; else loading">
      <mat-table [dataSource]="business" class="mat-elevation-z8"> -->

    <div *ngIf="business; else loading">
      <mat-table [dataSource]="business" class="mat-elevation-z8">
        <!--Id Column -->
        <ng-container matColumnDef="idBusiness">
          <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
          <mat-cell *matCellDef="let business">{{
            business.idBusiness
          }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef>Nome da Empresa</mat-header-cell>
          <mat-cell *matCellDef="let business">{{ business.nome }}</mat-cell>
        </ng-container>

        <!-- Cnpj Column -->
        <ng-container matColumnDef="cnpj">
          <mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
          <mat-cell *matCellDef="let business">{{ business.cnpj }}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-button">
            <button
              mat-icon-button
              aria-label="Business Registration"
              (click)="onCreateBusiness()"
            >
              <mat-icon class="icon-add color-primary color-secondary"
                >add</mat-icon
              >
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let business" class="action-button">
            <button
              mat-icon-button
              style="color: #004746"
              aria-label="Edit Business"
              (click)="onEdit(business)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              aria-label="Remove Business"
              (click)="onDelete(business.idBusiness)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <div class="paginator">
        <mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
              
               aria-label="Select page"> 
</mat-paginator>

      </div>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</div>
