.container{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.card-container {
  display: flex;
  margin-top: 5%;
  max-width: 60%;
  margin-bottom: 15px;
}

.input-container{
  margin-top: 2%;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

@media (min-width: 834px) and (max-width: 884px) {
  .container{
    display: flex;
    justify-content: center;
  }
  .card-container {
    display: flex;
    margin-top: 5%;
    width: 90%;
    margin-bottom: 15px;
  }
}

/*Para telas menores que 428px*/
@media (max-width: 428px) {
  .card-container {
    width: 90%;
    display: flex;
  }
  .business-cnpj, .cep-tel , .adress-number, .city-district-uf,.representative{
    display:block;
  }
  mat-form-field{
    width: 100%;
  }
  .adress-number > .input-adress{
    width: 100%;
  }
  .business-cnpj > .input-business{
    width: 100%;
  }
}

