<div class="container">
  <mat-card class="card-container">
    <div class="d-flex justify-content-between ">
    <mat-toolbar mainColors>
      Cadastro de Empresa
    </mat-toolbar>
    </div>

    <form [formGroup]="form" class="p-3">
      <div class="row input-container">
        <mat-form-field class="col-12">
          <mat-label>Nome da Empresa</mat-label>
          <input
            type="text"
            matInput
            placeholder="Empresa de exemplo ltda."
            formControlName="nome"
          />
          <mat-icon matSuffix>corporate_fare</mat-icon>
          <mat-error>O nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>CNPJ</mat-label>
          <input
            type="text"
            matInput
            inputmode="numeric"
            placeholder="XX. XXX. XXX/0001-XX"
            formControlName="cnpj"
          />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error>O CNPJ é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>CEP</mat-label>
          <input
            type="text"
            matInput
            inputmode="numeric"
            placeholder="XXXXXXXX"
            formControlName="cep"
          />
          <mat-icon matSuffix>123</mat-icon>
          <mat-error>O CEP é obrigatório</mat-error>
        </mat-form-field>

        <button mat-mini-fab mainColors class="col-2" (click)="validationCep()">
          <mat-icon class="color-secondary">search</mat-icon>
        </button>

        <mat-form-field class="col-12">
          <mat-label>Logradouro</mat-label>
          <input
            type="text"
            matInput
            placeholder="Rua/Avenida/Travessa"
            formControlName="logradouro"
          />
          <mat-icon matSuffix></mat-icon>
          <mat-error>O logradouro é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>Numero</mat-label>
          <input
            type="number"
            matInput
            inputmode="numeric"
            placeholder="123"
            formControlName="compl"
          />
          <mat-icon matSuffix>123</mat-icon>
        </mat-form-field>

        <mat-form-field class="col-5">
          <mat-label>Cidade</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ex. São Paulo"
            formControlName="cidade"
          />
          <mat-icon matSuffix></mat-icon>
          <mat-error>A cidade é obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>Bairro</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ex.Vila Madalena"
            formControlName="bairro"
          />
          <mat-icon matSuffix></mat-icon>
          <mat-error>O bairro é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-3">
          <mat-label>UF</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ex.SP"
            formControlName="uf"
          />
          <mat-icon matSuffix></mat-icon>
          <mat-error>O UF é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-5">
          <mat-label>Telefone</mat-label>
          <input
            type="text"
            matInput
            placeholder="(XX) 9XXXX-XXXX"
            formControlName="telefone"
          />
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>

        <mat-form-field class="col-4">
          <mat-label>Plano Contratado</mat-label>
          <mat-select formControlName="plano">
            <mat-option value="Limpar"></mat-option>
            <mat-option value="Diário">Diário</mat-option>
            <mat-option value="Semanal">Semanal</mat-option>
            <mat-option value="Quinzenal">Quinzenal</mat-option>
            <mat-option value="Mensal">Mensal</mat-option>
          </mat-select>
          <mat-error>O tipo plano é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Representante Comercial</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nome do Representante"
            formControlName="representante"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>O nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Responsável Técnico</mat-label>
          <input matInput disabled value="1" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
    </form>

    <div class="d-flex justify-content-end col-12 gap-3 p-3">
      <button mat-button mat-stroked-button (click)="onCancel()">
        CANCELAR
      </button>
      <button mat-button mat-raised-button mainColors (click)="onSubmit()">
        SALVAR
      </button>
    </div>
  </mat-card>
</div>


