.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100hv;
}
.card-container {
  margin-top: 5%;
  width: 60%;
  height: 100hv;
}
.full-width{
  width: 100%;
}
.input-business{
  /*width: 100%;*/
  margin: 1em 0 0 1em;
}
.input-cnpj{
  /*width: 100%;*/
  margin: 1em 1em 0 1em;
}
.input-cep, .input-tel{
  display: flex;
  justify-content: flex-start;
  /*width: 70%;*/
  margin: 1em 1em 0 1em;

}

.one{
  background-color: blue;
}
.two{
  background-color: brown;
}