<div class="container">
  <mat-card class="card-container">
    <mat-toolbar class="color-primary color-secondary">
      Cadastro de Empresa
    </mat-toolbar>

    <form>
      <mat-grid-list cols="2" rowHeight="100px">

        <mat-grid-tile class="one">
          <mat-form-field class="input-business full-width">
            <mat-label>Nome da Empresa</mat-label>
            <input type="text" matInput placeholder="Empresa de exemplo ltda." required>
            <mat-icon matSuffix>corporate_fare</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="two">
          <mat-form-field class="input-cnpj full-width">
            <mat-label>CNPJ</mat-label>
            <input type="text" matInput placeholder="XX. XXX. XXX/0001-XX" required>
            <mat-icon matSuffix>123</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="one">
          <mat-form-field class="input-cep full-width">
            <mat-label>CEP</mat-label>
            <input type="text" matInput placeholder="XXXXX-XXX" required>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="two">
          <mat-form-field class="input-tel full-width">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="(XX) 9XXXX-XXXX" required>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
</mat-card>