<mat-card class="card-container">
    <mat-toolbar mainColors>Apoie-nos</mat-toolbar>
      <div class="text-container">
      <p>
        Um famoso Economista e Monetarista,Milton Friedman (1912-2006) uma vez disse uma celebre frase que entraria para a história:<em>“Não existe almoço grátis”</em></p> 
      <p>
        O objetivo deste projeto é manter-se <strong>gratuito</strong> para os nutricionistas, sobretudo os que estão em inicio de carreira, para que possam construir sua jornada profissional de forma acessivel com menos custo possivel. 
      </p>
      <p>
        Como você pode imaginar, trabalhar em um projeto desse tipo requer <em>recursos e investimentos</em>, e é por isso que estamos pedindo a ajuda de pessoas como você.></p>
      <p>
        Cada doação, independentemente do valor, é muito importante para nos e ajuda a tornar esse proejto cada vez melhor, para você e para os demais usuários que virão a usa-lo. Se você puder doar qualquer quantia, seria extremamente apreciado.</p>
      <p>
        <strong>E aqui vai um spoiler:</strong> pretendemos no futuro, fazer um programa para nutricionistas que trabalham na <em>área Clinica</em>, <strong>totalmente gratuito!</strong></p>
        <p>
        Gostaríamos de agradecer antecipadamente pelo seu apoio ao nosso projeto e por ajudar a tornar a nossa visão uma realidade. Você pode doar clicando neste link: [inserir link para a página de doação]</p>
    </div>
  </mat-card>
  