<div class="container">
  <mat-card class="card-container">
    <div class="d-flex justify-content-between">
      <mat-toolbar mainColors>
        <div>Empresas Cadastradas</div>
        <button 
        mat-button 
        class="add-button"
        aria-label="Criar uma empresa"  
        (click)="onCreateBusiness()">Criar Empresa
        </button>
      </mat-toolbar>
    </div>

    <div *ngIf="business; else loading" class="mat-elevation-z8"> 
      <mat-table [dataSource]="business">
        <!--Id Column -->
        <ng-container matColumnDef="idBusiness">
          <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
          <mat-cell *matCellDef="let business">
            {{ business.idBusiness }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef>Nome da Empresa</mat-header-cell>
          <mat-cell *matCellDef="let business">{{ business.nome }}</mat-cell>
        </ng-container>

        <!-- Cnpj Column -->
        <ng-container matColumnDef="cnpj">
          <mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
          <mat-cell *matCellDef="let business">{{ business.cnpj }}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-button">
            Ações
          </mat-header-cell>

          <mat-cell *matCellDef="let business" class="action-button">

           <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Menu de ações">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #beforeMenu="matMenu">

                <button mat-menu-item (click)="onCreateDepartment(business)">
                  <mat-icon class="text-success">domain_add</mat-icon>
                  Gerenciar Setores
                </button>

                <button mat-menu-item (click)="onEdit(business)">
                  <mat-icon color="primary">edit</mat-icon>
                  Editar
                </button>

                <button mat-menu-item (click)="onDelete(business.idBusiness)">
                  <mat-icon class="text-danger">delete</mat-icon>
                  Excluir
                </button>
              </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <div class="paginator">
        <mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
              
               aria-label="Select page"> 
</mat-paginator>

      </div>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <!-- <mat-spinner></mat-spinner> -->
        <app-loader></app-loader>
      </div>
    </ng-template>
  </mat-card>
</div>