.container{
   display: flex;
   justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 90%; 
    height: 90%;
}

.loading-spinner{
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button{
    padding: 5px;
}

.add-button{
    
    background-color: #ffc745 !important;
    color: #004746 !important;
}

mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

