.header {
    display: flex;
    align-items: center;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    max-height: 100px;
    padding-left: 0;
}
.title-group i {
    padding-right: 5px;
}
.icon-welcome{
    position: fixed;
    right: 0;
    top: 12px;
    bottom: 0;
}

