<div class="container">
  <mat-card class="card-container">
    <mat-toolbar class="color-primary color-secondary">Perfil</mat-toolbar>
    
    <div class="profile-icon">
     <img src="assets/img/perfil.png" alt="logo-perfil">
    </div>
  
      <form [formGroup]="form">
        <!--LEMBRAR DE INSERIR CAMPO PARA UPLOAD DE FOTO-->
  
        <div class="name-birthday">
          <mat-form-field class="input-name">
            <mat-label>Nome e Sobrenome</mat-label>
            <input matInput formControlName="nome" required />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
  
          <mat-form-field class="input-birthday" appearance="fill">
            <mat-label>Data de Aniversário</mat-label>
            <input  formControlName="dob" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="email-tel">
          <mat-form-field appearance="fill" class="input-email">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="pat@example.com"
              required
            />
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="input-tel">
            <mat-label>Telefone + DDD</mat-label>
            <input
              type="number"
              matInput
              formControlName="tel"
              placeholder="(XX)9XXXX-XXXX"
              required
            />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
  
        <div class="crn-gener">
          <mat-form-field appearance="fill" class="input-crn">
            <mat-label>CRN</mat-label>
            <input type="number" matInput formControlName="cnr" required />
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>
  
          <mat-radio-group formControlName="check-sex">
            <mat-label class="sex">Sexo:</mat-label>
            <mat-radio-button value="M">Masculino</mat-radio-button>
            <mat-radio-button value="F">Feminino</mat-radio-button>
          </mat-radio-group>
        </div>
  
        <div class="button">
          <mat-card-actions>
            <button mat-button (click)="onCancel()">CANCELAR</button>
            <button mat-button (click)="onSubmit()">SALVAR</button>
          </mat-card-actions>
        </div>
      </form>
  </mat-card>
</div>
