mat-card{
    max-width: 90%;
    margin: 2em auto;
}
.container-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.card-container{
    margin-top: 5%; 
}

.full-width{
   width: 70%;  
}

.checkbox{
    font: inherit;
    font-size: large;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 0;
    margin-bottom: 5px;
}