.container{
   display: flex;
   justify-content: center;
   align-items: center;   
   min-height: 100hv;
}
.card-container{
    margin-top: 5%;
    width: 60%;
}
.loading-spinner{
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{}

.action-button{
    padding: 5px;
}
.icon-add{
    padding: 8px;
    border-radius: 50%;
}


