  <div class="container">
    <mat-card class="card-container">
      <mat-toolbar class="color-primary color-secondary">
        Empresas Cadastradas
      </mat-toolbar>
    <table mat-table [dataSource]="business" class="mat-elevation-z8">
      <!--Id Column -->
      <ng-container matColumnDef="idBusiness">
        <th mat-header-cell *matHeaderCellDef>Nº</th>
        <td mat-cell *matCellDef="let business">{{ business.idBusiness }}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome da Empresa</th>
        <td mat-cell *matCellDef="let business">{{ business.nome }}</td>
      </ng-container>
      <!-- Cnpj Column -->
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef>CNPJ</th>
        <td mat-cell *matCellDef="let business">{{ business.cnpj }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    </mat-card>
  </div>

