<div class="container">
    <div class="message-container">
        <div class="text-container">
            <h1 class="title">404</h1>
            <h3 class="sub-title">
                A página que você está procurando não existe.
            </h3>
            <p class="text-warning">Você pode ter digitado incorretamente o endereço ou a página pode ter sido movida.
            </p>
            <button mat-button mainColors (click)="homePage()">vá para a página inicial</button>
        </div>
    </div>
</div>
