<div class="main-container">
<mat-card class="card-container">
  <mat-toolbar mainColors>Sobre nós</mat-toolbar> 
    <div class="text-container">
    <p>
      Um desenvolvedor e duas nutricionistas uniram suas habilidades e conhecimentos para criar um programa prático, útil e acessível, facilitando assim a rotina de nutricionistas e consultores da área de <em>Controle de Qualidade e Segurança Alimentar.</em></p> 
    <p>
      Com a união desses profissionais, surgiu um programa que oferece de forma gratuita, serviços que são adaptadas às necessidades desses profissionais.
    </p>
    <p>
      O programa criado promete ser uma verdadeira ferramenta facilitadora para o controle de qualidade, combinando tecnologia e conhecimento em nutrição, oferecendo aos usuários uma maneira fácil e prática de trabalhar no dia a dia de unidades produtoras de refeições e indústrias, provando assim que a união de duas profissões diferentes podem levar a grandes conquistas e inovações em qualquer área de atuação.
    </p>
  </div>
</mat-card>
</div>