<h2 mat-dialog-title>Legislação</h2>
<mat-dialog-content class="mat-typography">
    
  <h3>➡️ <strong>Resolução N° 216, De 15 De Setembro De 2004:</strong></h3>
  <a href="https://bvsms.saude.gov.br/bvs/saudelegis/anvisa/2004/res0216_15_09_2004.html" target="_blank">
    <p class="text">
      Dispõe sobre Regulamento Técnico de Boas Práticas para Serviços de 
      Alimentação.<i class="material-icons v-middle">open_in_new</i>
    </p>
    
  </a>

  <h3>➡️ <strong>Portaria CVS Nº 5 De 09/04/2013:</strong></h3>
  <a href="https://www.legisweb.com.br/legislacao/?id=253540" target="_blank">
    <p>
        Regulamento técnico sobre boas práticas para estabelecimentos 
        comerciais de alimentos, para serviços de alimentação, e o roteiro
        de inspeção. <i class="material-icons v-middle">open_in_new</i>
    </p>
  </a>
  
  <h3>➡️ <strong>PORTARIA 2619/11 - SMS :</strong></h3>
  <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/upload/chamadas/portaria_2619_1323696514.pdf" target="_blank">
    <p>
        Portaria vinculada ao Código Sanitário do Município de 
        São Paulo. <i class="material-icons v-middle">open_in_new</i>
    </p>
  </a>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button 
  mainColors>Fechar</button>
</mat-dialog-actions> 