.card-container {
    margin-top: 5%;
    max-width: 63%;
    align-items: center;
    margin: 5% auto 0;
  }
  
  .text-container {
    padding: 15px;
  }
  
  .text {
    font-size: medium;
    text-align: left;
    text-indent: 30px;
  }

  
  @media (min-width: 834px) and (max-width: 884px) {
    .card-container {
      margin-top: 50px;
      max-width: 400px;
      display: inline-block;
      margin-left: 8rem;
    }
  }
  
  /*Para telas menores que 390px*/
  @media (max-width: 390px) {
    .card-container {
      margin-top: 20px;
      max-width: 280px;
      display: inline-block;
      margin-left: 2.5rem;
    }
  }
  
  @media (max-width: 320px) {
    .card-container {
      margin-top: 20px;
      max-width: 260px;
      display: inline-block;
      margin-left: 0.9rem;
    }
  }
  