<div class="container">
  <mat-card class="card-container">
    <mat-toolbar mainColors>Perfil</mat-toolbar>

    <div class="profile-icon" *ngIf="user && user.link_photo">
      <img [src]="user.link_photo ? user.link_photo : photo_profile" alt="logo-perfil">
      <mat-icon>edit</mat-icon>
    </div>

    <div class="d-flex justify-content-center col-12 gap-3">
      <input type="file" #fileUpload style="display: none" (change)="uploadPhoto($event)"/>
      <button mat-button mat-stroked-button (click)="fileUpload.click()">Enviar Foto</button>
    </div>


    <form [formGroup]="form" class=" p-3">
      <!--LEMBRAR DE INSERIR CAMPO PARA UPLOAD DE FOTO-->

      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Nome e Sobrenome</mat-label>
          <input matInput formControlName="nome" required />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>O nome é obrigatório</mat-error>
        </mat-form-field>


        <mat-form-field class="col-6">
          <mat-label>Data de Aniversário</mat-label>
          <input
            formControlName="data_nasc"
            matInput [matDatepicker]="picker"

          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>A data de aniversário é obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="pat@example.com" required />
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error>O email é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Telefone + DDD</mat-label>
            <input
            matInput
            type="tel"
            mask="(00) 0 0000-0000"
            formControlName="telefone"
            placeholder="(XX)9XXXX-XXXX"
            />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error>O telefone é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>CRN</mat-label>
          <input matInput
          formControlName="crn"
          type="text"
          mask ="00.000"
          required
          />
          <mat-icon matSuffix>pin</mat-icon>
          <mat-error>O CRN é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Senha atual</mat-label>
          <input matInput type="password" formControlName="senha" required />
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Nova Senha</mat-label>
          <input matInput type="password" formControlName="novaSenha" />
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-radio-group formControlName="sexo" class="col-12">
          <mat-label class="sex">Sexo:</mat-label>
          <mat-radio-button value="M">Masculino</mat-radio-button>
          <mat-radio-button value="F">Feminino</mat-radio-button>
          <mat-error *ngIf="!form.controls.sexo.value && submitted ">O sexo é obrigatório</mat-error>
        </mat-radio-group>

        <div class="d-flex justify-content-end col-12 gap-3">
          <button mat-button mat-stroked-button (click)="onCancel()">CANCELAR</button>
          <button mat-button mat-raised-button mainColors (click)="onSubmit()">SALVAR</button>
        </div>

      </div>
    </form>
  </mat-card>
</div>
