<div class="container-main">

      <!--CARD 1 CHECKLIST DIARIO-->
      <mat-card class="card-container">
        <mat-card-header class="title">
          <mat-card-title>Check List</mat-card-title>
          <mat-card-subtitle>Diário</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
          <img
            mat-card-image
            src="assets/img/lista-diaria.png"
            alt="lista-diaria"
          />
        </div>
        <div class="card-footer">
          <mat-card-content>
            <p matTooltip=" Crie, Personalize ou Consulte sua rotina de verificação diária.">
              Crie, Personalize ou Consulte sua rotina de verificação diária.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
            class="me-2"
            mat-stroked-button
            (click)="openDialogCreateDaily()">CRIAR</button>
            <button
            mat-stroked-button>CONSULTAR</button>
          </mat-card-actions>
        </div>
      </mat-card>

      <!--CARD 2 CHECKLIST MENSAL-->
      <mat-card class="card-container">
        <mat-card-header class="title">
          <mat-card-title>Check List</mat-card-title>
          <mat-card-subtitle>Mensal</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
          <img
            mat-card-image
            src="assets/img/lista-mensal.png"
            alt="lista-mensal"
          />
        </div>
        <div class="card-footer">
          <mat-card-content>
            <p matTooltip="Crie, Personalize ou Consulte sua rotina de verificação mensal.">Crie, Personalize ou Consulte sua rotina de verificação mensal.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-stroked-button
              class="me-2"
              (click)="openDialogCreateMonthly()">CRIAR</button>
            <button
              mat-stroked-button
              (click)="onListCheckListMonthly()">CONSULTAR</button>
          </mat-card-actions>
        </div>
      </mat-card>

      <!--CARD 3 RELATÓRIOS-->
      <mat-card class="card-container">
        <mat-card-header class="title">
          <mat-card-title>Relatório</mat-card-title>
          <mat-card-subtitle>Análise de dados</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
          <img mat-card-image src="assets/img/relatorio.png" alt="relatórios" />
        </div>
        <div class="card-footer">
          <mat-card-content>
            <p>Consulte, analise e compare seus dados.</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-stroked-button
              class="me-2"
              (click)="onCreateReport()">CRIAR</button>
            <button
              mat-stroked-button
              (click)="onViewReport()">CONSULTAR</button>
          </mat-card-actions>
        </div>
      </mat-card>

    <!--CARD 4 CADASTRO EMPRESA-->
      <mat-card class="card-container">
        <mat-card-header class="title">
          <mat-card-title>Empresas</mat-card-title>
          <mat-card-subtitle>Cadastro/Consulta</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
          <img
            mat-card-image
            src="assets/img/cadastro-empresa.png"
            alt="cadastro-empresas"
          />
        </div>
        <div class="card-footer">
          <mat-card-content>
            <p matTooltip="Cadastre os dados de Empresas e dos seus respectivos
             setores.">
              Cadastre os dados de Empresas e dos seus respectivos setores.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-stroked-button
              class="me-2"
              (click)="onCreateBusiness()">CRIAR</button>
            <button
              mat-stroked-button
              (click)="onReadBusiness()">CONSULTAR</button>
          </mat-card-actions>
        </div>
      </mat-card>

     <!--CARD 5 LEGISLAÇÃO-->
     <mat-card class="card-container">
       <mat-card-header class="title">
         <mat-card-title>Legislação</mat-card-title>
         <mat-card-subtitle>Consulta</mat-card-subtitle>
       </mat-card-header>
       <div class="image-container">
         <img mat-card-image src="assets/img/legislacao.png" alt="legislação" />
       </div>
       <div class="card-footer">
         <mat-card-content>
           <p>Consulte as principais leis que regem a Nutrição.</p>
         </mat-card-content>
         <mat-card-actions>
           <button
            mat-stroked-button
            (click)="openDialogLegislation()">CONSULTAR</button>
         </mat-card-actions>
       </div>
     </mat-card>

     <!--CARD 6 LEMBRETES-->
     <mat-card class="card-container">
       <mat-card-header class="title">
         <mat-card-title>Lembretes</mat-card-title>
         <mat-card-subtitle>Agendamentos</mat-card-subtitle>
       </mat-card-header>
       <div class="image-container">
         <img
           class="teste"
           mat-card-image
           src="assets/img/lembrete.png"
           alt="lembretes"
         />
       </div>
       <div class="card-footer">
         <mat-card-content>
           <p matTooltip="Cadastre lembretes para Agendamentos, Renovação de Laudos Detetização
           e etc." >
             Cadastre lembretes para Agendamentos, Renovação de Laudos Detetização
             e etc.
           </p>
         </mat-card-content>
         <mat-card-actions>
           <button
            mat-stroked-button
            class="me-2"
            (click)="onCalendarReminder()">CRIAR</button>
           <button
            mat-stroked-button
            class="me-2"
            (click)="onListReminder()">CONSULTAR</button>
         </mat-card-actions>
       </div>
     </mat-card>

</div>

