<!--Header-->
<mat-toolbar class="header mat-elevation-z3 color-primary">
  <button class="menu color-primary" mat-icon-button (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <span>
    <a href="" target="_blank">
      <img class="logo" src="assets/img/logo-sem-fundo.png" alt="logo" />
    </a>
  </span>
  <span class="title-group">
    <div class="icon-home ">
      <a class="color-secondary">
        <i class="material-icons"> home </i>
        Início | Olá, Nome do Usuário 
      </a>
    </div>
  </span>
</mat-toolbar>

<!--Nav Bar-->
<mat-sidenav-container class="container">
  <mat-sidenav
  #sidenav
  class="sidenav color-primary"
  mode="side"
  opened="true"
  fixedInViewport="true"
  fixedTopGap="58"
>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="">
        <span>
          <i class="material-icons v-middle"> home </i>
          Início
        </span>
      </a>
      <a mat-list-item routerLink="profile">
        <span>
          <i class="material-icons v-middle"> account_circle </i>
          Perfil
        </span>
      </a>
      <a mat-list-item routerLink="about">
        <span>
          <i class="material-icons v-middle"> group </i>
          Sobre nós
        </span>
      </a>
      <a mat-list-item routerLink="supportUs">
        <span>
          <i class="material-icons v-middle"> handshake </i>
          Apoie-nos
        </span>
      </a>
      <a mat-list-item>
        <span>
          <i class="material-icons v-middle"> logout </i>
          Sair
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
