<mat-toolbar class="toolbar color-primary">
  <div class="container">

    <div class="menu-logo-icon">
      <button mat-icon-button class="button-menu" (click)="service.toggleMenu()">
        <mat-icon class="color-secondary">menu</mat-icon>
      </button>
      <div class="logo">
        <img class="logo" src="assets/img/logo-sem-fundo.png" alt="logo" />
      </div>
    
    <div class="icon-navigate">
      <mat-icon class="color-secondary">home</mat-icon>
    </div>
  </div>

    <div class="reminder-profile">
      <button mat-icon-button color="icon-reminder">
        <mat-icon class="color-secondary">notifications</mat-icon>
      </button>
      <button mat-icon-button color="icon-profile">
        <mat-icon class="color-secondary">person</mat-icon>
      </button>
    </div>

  </div>
</mat-toolbar>
