html, body { min-height: 100vh; margin: 0; padding: 0; overflow: inherit; }
body {font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary{
    background-color: #004746;
    /*background-color: #344955;*/
}
.color-secondary{
    color: #FFC745;
}
.v-middle{
    vertical-align: middle;
}