html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary{
    background-color: #004746;
    /*background-color: #344955;*/
}
.color-secondary{
    color: #FFC745;
}
.color-warn{
    background-color: red;
    color: red;
}
.blue{
    color: blue;
}

.v-middle{
    vertical-align: middle;
}