.container{
    display: flex;
    justify-content: center;
 }
 .card-container{
     display: flex;
     justify-content: center;
     margin: 5%;
     width: 90%;     
 }
 .loading-spinner{
     padding: 25px;
     background-color: rgba(0, 0, 0, 0.15);
     display: flex;
     align-items: center;
     justify-content: center;
 } 
.add-button{
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: #ffc745;
}
.add-icon{
    color: #004746;
}