<div class="container">
    <mat-card class="card-container"> 
      <div class="d-flex justify-content-between ">
        <mat-toolbar mainColors>
         Lista dos Checklist's Mensais
        </mat-toolbar>
        <button
                class="add-button"
                mat-mini-fab
                matTooltip="Criar um checklist"
                aria-label="Criar um checklist"
                (click)="onCreateChecklist()"
              >
                <mat-icon class="add-icon">
                  add
                </mat-icon>
              </button>
      </div>
  
      <div *ngIf="checklist; else loading" class="mat-elevation-z8"> 
        <mat-table [dataSource]="checklist">
          
          <!--Name Column -->
          <ng-container matColumnDef="titulo">
            <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
            <mat-cell *matCellDef="let checklist">
              {{ checklist.titulo }}</mat-cell>
          </ng-container>
  
          <!-- Business Column -->
          <ng-container matColumnDef="idBusiness">
            <mat-header-cell *matHeaderCellDef>
              Empresa
            </mat-header-cell>
            <mat-cell *matCellDef="let checklist">
              {{ checklist.idBusiness.nome }}
            </mat-cell>
          </ng-container>
  
          <!-- Departament Column -->
          <ng-container matColumnDef="idSetores">
            <mat-header-cell *matHeaderCellDef>
              Setor Avaliado
            </mat-header-cell>
            <mat-cell *matCellDef="let checklist">{{ checklist.idSetores.nome }}</mat-cell>
          </ng-container>

            <!--Data Column -->
            <ng-container matColumnDef="dataAuditoria">
              <mat-header-cell *matHeaderCellDef>Data da Auditoria</mat-header-cell>
              <mat-cell *matCellDef="let checklist">
                {{ checklist.dataAuditoria | date:'dd/MM/yyyy' }}</mat-cell>
            </ng-container>
  
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="action-button">
              Ações
            </mat-header-cell>

            <mat-cell *matCellDef="let business" class="action-button">

              <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Menu de ações">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #beforeMenu="matMenu">
                <button mat-menu-item (click)="onEdit()">
                  <mat-icon class="text-success">edit</mat-icon>
                  Editar
                </button>
                
                <button mat-menu-item (click)="onCreateReport()">
                  <mat-icon class="text-primary">description</mat-icon>
                  Gerar um relatório
                </button>
  
                <button mat-menu-item (click)="onDelete()">
                  <mat-icon class="text-danger">delete</mat-icon>
                  Excluir
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table> 
  
        <div class="paginator">
          <mat-paginator #paginator
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [showFirstLastButtons]="true"
                 [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                
                 aria-label="Select page"> 
  </mat-paginator>
  
        </div>
      </div>
      <ng-template #loading>
        <div class="loading-spinner">
          <!-- <mat-spinner></mat-spinner> -->
          <app-loader></app-loader>
        </div>
      </ng-template>
    </mat-card>
  </div>