<div class="container">
  <mat-card class="card-container">
    <mat-card-header>
      <div class="image-logo">
        <img src="./assets/img/logo.png" alt="Logo" />
      </div>
      <!-- <mat-card-title>NutriNotes</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
  
      <mat-tab-group>
        <form [formGroup]="formLogin"> 
        <mat-tab label="Login">
          <div class="login-password">
            <mat-form-field class="input-email">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email@exemple.com" 
              type="email"
              formControlName="login" />
            </mat-form-field>

            <mat-form-field class="input-password">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Senha" 
              type="password" 
              formControlName="senha"/>
            </mat-form-field>
            <button mat-raised-button mainColors (click)="login()">Login</button>
          </div>
        </mat-tab>
        </form>


        <mat-tab label="Cadastro" class="card-register">
          <div class="formAccount">
            <mat-stepper orientation="vertical" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Seu email</ng-template>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      placeholder="email@exemple.com"
                      type="email"
                      formControlName="email"
                      required
                    />
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperNext>Próximo</button>
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup" label="Sua Senha">
                <form [formGroup]="secondFormGroup">
                  <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input
                      matInput
                      formControlName="senha"
                      type="password"
                      required
                    />
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Proximo</button>
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="thirdFormGroup" label="Seu CRN">
                <form [formGroup]="thirdFormGroup">
                  <mat-form-field>
                    <mat-label>CRN</mat-label>
                    <input
                      matInput
                      formControlName="crn"
                      type="text"
                      placeholder="CRM/SP 123456"
                      required
                    />
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Proximo</button>
                  </div>
                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Feito</ng-template>
                <p>Agora você terminou.</p>
                <div>
                  <button mat-button matStepperPrevious>Voltar</button>
                  <button mat-button (click)="onSubmit()">Salvar</button>
                </div>
              </mat-step>
            </mat-stepper>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
