<mat-toolbar *ngIf="showMenu" class="toolbar" mainColors>
  <div class="container">
    <div class="menu-logo-icon">
      <button
        mat-icon-button
        class="button-menu"
        (click)="navService.toggleMenu()"
      >
        <mat-icon class="color-secondary">menu</mat-icon>
      </button>
      <div class="logo">
        <img class="logo" src="assets/img/logo-sem-fundo.png" alt="logo" />
      </div>
    </div>

    <div class="reminder-profile">
      <button
        mat-icon-button
        color="icon-reminder"
        [matMenuTriggerFor]="menu"
        (click)="badgeVisibility()"
      >
       <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of list" class="menu-item">
          <mat-icon>notifications</mat-icon>
            <small>
              {{ item.dataEvento | date:'dd/MM/yyyy' }} - {{ item.descricao }}
            </small>
          </button>
          
        </mat-menu>
        <mat-icon
          class="color-secondary"
          matBadge="1"
          matBadgeColor="warn"
          matBadgeSize="small"
          [matBadgeHidden]="badgevisible"
          color="icon-reminder"
        >
          notifications
        </mat-icon>
      </button>

        <!--TROCAR O ICONE PELA FOTO COM BORDA VERDE INDICANDO A PESSOA ONLINE-->
    </div>
  </div>
</mat-toolbar>
