<mat-toolbar *ngIf="showMenu" class="toolbar" mainColors>
  <div class="container">
    <div class="menu-logo-icon">
      <button
        mat-icon-button
        class="button-menu"
        (click)="navService.toggleMenu()"
      >
        <mat-icon class="color-secondary">menu</mat-icon>
      </button>
      <div class="logo">
        <img class="logo" src="assets/img/logo-sem-fundo.png" alt="logo" />
      </div>

      <div class="icon-navigate">
        <mat-icon>home</mat-icon>
        Início
      </div>
    </div>

    <div class="reminder-profile">
      <button
        mat-icon-button
        color="icon-reminder"
        [matMenuTriggerFor]="menu"
        (click)="badgeVisibility()"
      >

        <mat-menu #menu="matMenu">
          
          <button mat-menu-item *ngFor="let item of list">
            <hr>
            🔔 {{ item.dataEvento | date:'dd/MM/yyyy' }} - {{ item.descricao }}

          </button>
          
        </mat-menu>

      
        <mat-icon
          class="color-secondary"
          matBadge="1"
          matBadgeColor="warn"
          matBadgeSize="small"
          [matBadgeHidden]="badgevisible"
          color="icon-reminder"
        >
          notifications
        </mat-icon>
      </button>
      <button mat-icon-button color="icon-profile" (click)="openAccount()">
        <mat-icon class="color-secondary">person</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
