.sidenav {
  /*background-color: #483D8B;*/
  width: 200px;
  border: 1px solid rgb(64, 64, 64);
}
span {
  color: #ffc745;
} 
.sidenav i {
  padding-right: 10px;
}
.nav-list {
  margin-top: 5px;
}

#menu{
  position: fixed;
  top: 0;
  left: 0;
  color: #ffc745;
  padding: 5px;
}
