.sidenav {
  /*background-color: #483D8B;*/
  width: 200px;
  border: 1px solid rgb(64, 64, 64);
}

mat-sidenav-container,
.main-container {
  height: calc(100vh - 65px);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  flex-grow: 1;
}

span {
  color: #ffc745;
} 
.sidenav i {
  padding-right: 10px;
}
.nav-list {
  margin-top: 5px;
}

