<!-- <h1>ENTRANDO NO COMPONENTE...</h1> -->
<div class="wrapper"  *ngIf="!isLoading; else loading">
  <mat-card>
    <mat-card-header>
      <div class="image-logo">
        <img src="./assets/img/logo.png" alt="Logo" />
      </div>
      <!-- <mat-card-title>NutriNotes</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
  
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()"> 
      
          <div class="login-password">
            <mat-form-field class="input-email">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email@exemple.com" 
              type="email"
              formControlName="login" />
            </mat-form-field>

            <mat-form-field class="input-password">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Senha" 
              type="password" 
              formControlName="senha"/>
            </mat-form-field>
            <button mat-raised-button mainColors >Login</button>
          </div>
        </form>
       
    </mat-card-content>
    <div class="registration">
        Não tem cadastro? <a routerLink="login/register">Clique aqui</a>
    </div>
  </mat-card> 
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
